body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

  }

.body{
   background:#383838;
   margin:0;
   padding: 0;
   width: 100vw;
   font-family: 'SF UI Display';
   font-style: italic;
   color: #333333;
   font-size: 20px;
   font-weight:bold;
   text-align: center;
   font-style: normal;
   background-color: #ECFFF0;


 }
.header {
   border-width: 0px;
   padding: 1px;
   text-align: right;
   border-color: #1D7373;
   font-family: serif;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   border-style: solid;
   background-color: #ECFFF0;
   position: relative;
   background: url('../img/background__header.jpg');
   background-repeat:repeat;
   height: 500px;

 }
.title{
  margin: 0 auto;
  position: relative;
  width:800px;
  

 }
.title_h1{
  font-family: 'SF UI Display';
  text-align: center;
  font-size: 90px;
  color: white;


 }

.title_h2{
  font-family: 'SFProDisplay';
  color:white;
  text-align: center;
  margin-top: -30px;
  font-size: 30px;
  
}
 
 .button__title{
  position: absolute;
  top:300px;
  right: 300px;
  background-color:#fff;
  padding:10px;
  font-family: 'SFProDisplay';
  font-size:25px;
  text-decoration:none;
  color:#333;
  border-radius: 3px;
  transition: 1.2s;
 }

.button__title:hover{
  transition: 1.2s;
background:rgba(0,231,179,1);

}

.menu-header{
 height: 50px;
 width: 100vw;

 }
 
.menu__list{
   list-style-type: none;
 margin-right: 20px;
 }

.menu_item{

    float:right;
    margin-right: 20px;
    font-size: 20px;
    padding:0;
    border-bottom:1px dotted white;
 }

.menu_link {
    text-decoration: dotted;  
     transition: 0.4s;
 }

 .menu_link:hover{
  color:rgba(0,231,179,0.8);
 transition: 0.4s;
  font-size: 22px;
 }


.avatar{
   position: absolute;
   top:220px;
   left:30%;
   width: 310px;
   height: 310px;
   border-style:solid;
   border-radius: 50%;
   border:0px;
   background-color: black;
 
   overflow: hidden;
   transition: 1s;
 }

.avatar:hover{
  transition: 1s;
  background:rgb(48, 48, 48);
 
}


.about{
   margin-top:200px;
   font-family: 'SFProDisplay';
   font-style: italic;
   color: #333333;
   font-size: 20px;
   font-weight:bold;
   text-align: center;
   font-style: normal;
   height: 600px;
   width: 100vw;
   background-color: #ECFFF0;
   position: relative;

 }

.discette{
  position:absolute;
  top:250px;
  left:50px;
  overflow: hidden;
}

.top-btn-1{
  position: absolute;
  right:30px;
  top:550px;
  background-color: rgba(0,0,0,0.4);
  height: 25px;
  width: 25px;
  color: white;
  font-size: 30px;
  transition: 0.8s;
}

.about__skill{
  width: 700px;
  height: 150px;
  margin:0 auto;
 }

  .skill{
  margin:0 auto;
  padding: 0 auto;
  height: 150px;
  background-color:#ECFFF0;
 }

.skill__list{
margin-top: 100px;

}

 .skill__item{
position: relative;
background-color: #ECFFF0;
margin-top: 20px;
border-radius: 5px;
list-style: none;
height: 40px;
}

.skill__value{
position: absolute;
/*background-color: #333333;*/
background: linear-gradient(to left, #9e9e9e, #000000);
display: inline-block;
height: 100%;
border-radius: 5px 0 0 5px;
}
.skill_ul{
  text-align: left;
}

.skill__value-15{
width: 15%
}

.skill__value-65{
width: 65%
}

.skill__value-55{
  width: 55%;
}

.skill__value-100{
width: 100%
}

.skill__title{
position: absolute;
top: 9px;
left: 20px;
font-family: 'SF UI Display';
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: white;
}

.portfolio-container-h{
width: 100vw;
height: 100px;
text-align: center;

}

.portfolio-h{
  margin-left:50px;
  margin-top: 100px;
  font-size: 40px;
  font-family: 'SFProDisplay';
  
}

.section-portfolio  {
  perspective: 1000px;
  width: 100vw;
  height: 300px;
  margin-left: 25px;

border-left:solid  w2px, color red;
}


.container-portfolio {
  width: 880px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: rotateX(25deg);
  transform-style: preserve-3d;

}
.container-origin {
  transform: rotate(0);
}

.card {
  width: 200px;
  height: 350px;
  margin: 10px;
  transition: 0.2s;
  
}
.card:hover {
  cursor: pointer;
  /*заменил данный эффект выползания на зум в классе .img-card:hover;
  transform: translateZ(10px);*/
  color:rgba(0,231,179,0.7);
}

.img-card {
  width: 100%;
  height: 100%;
  transition: 0.5s
}

.img-card:hover{
transform: scale(2);
}


.top-btn-2{
  position: absolute;
  right:55px;
  top:400px;
  background-color: rgba(0,0,0,0.4);
  height: 25px;
  width: 25px;
  color: white;
  font-family: 'SFProDisplay';
  font-size: 30px;
  transition: 0.8s;
}

.top-btn-1:hover, .top-btn-2:hover{
background-color: rgba(0, 199, 109, 0.7);
transition: 0.8s;
}

.footer{
   background-color:#ECFFF0;
   margin-top: 350px;
   height: 60px;
   width: 100vw;
 }  


.footer__contacts{
   list-style-type: none;
  text-align: center;
  margin-left: -45px;
 }

.footer__contacts__item{
   display: inline;
   padding: 10px;

}

.footer__contacts__item:hover{
  transition: 0.6s;
  opacity: 0.6;
}

.contacts{
   text-decoration:none; 
   height: 45px;
   width: 45px;
   background:no-repeat center;
 }

.vk-contact, .whatsapp-contact, .telegram-contact{
  height: 45px;
  width: 45px;
  background:url('../img/whatsapp.png')no-repeat center cover;
}
